<aside>
  <form class="quick-browse">
    <a onclick="ClearBrowseFields(); localStorage.BROWSEhome='false';"
       href="/repertoire" style="text-decoration:none;">
      <h2 class="blue-bar" style="width:316px;">quick browse</h2>
    </a>

    <div class="form-body">

      <div class="form-group">
        <select id="composers-select" name="c">
          <option value="">All Composers</option>
        </select>
      </div>

      <div class="form-group">
        <select id="genres-select" name="g">
          <option value="">All Genres</option>
        </select>
      </div>

      <div class="form-group">
        <input id="titlebox"
               name="t"
               type="text"
               class="form-control"
               placeholder="Enter Title">
      </div>

      <div class="form-group text-center">
        <form class="quick-browse" onsubmit="return storeBrowseParameters();">
        <button type="submit"
                class="btn btn-brown"
                style="width:110px;">
          Browse
        </button>
      </div>

    </div>
  </form>
</aside>