<title>{{site.title}}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=1010"/>
<link rel="SHORTCUT ICON" href="/images/favicon.png"/>

<!-- styles -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lusitana:400,700" rel="stylesheet" type="text/css">

<style>
	{% include styles/normalize.css %}
	{% include styles/style.css     %}
</style>

<!-- scripts -->
<script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin-worker.js"></script>

<script>
	{% include scripts/external/jquery-3.6.0.min.js  %}
	{% include scripts/external/select2.js           %}
	{% include scripts/external/jquery.ezmark.min.js %}
	{% include scripts/external/placeholders.min.js  %}
	{% include scripts/scripts-basic.js              %}
	{% include scripts/scripts-common.js              %}
</script>