

	<title>The Josquin Research Project</title>
	<meta charset="utf-8"/>
<meta name="viewport" content="width=1010"/>
<link rel="SHORTCUT ICON" href="/images/favicon.png"/>

<!-- styles -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lusitana:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<!-- scripts -->
<script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin-worker.js"></script>

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
-->

<script src="/scripts/external/jquery-2.1.1.min.js"></script>
<script src="/scripts/external/select2.js"></script>
<script src="/scripts/external/jquery.ezmark.min.js"></script>
<script src="/scripts/external/placeholders.min.js"></script>
<script src="/scripts/scripts-basic.js"></script>

<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38223992-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<!--[if lte IE 9]>
	<link rel="stylesheet" type="text/css" href="/css/ie9.css" />
<![endif]-->
<!-- vim: set ts=3: -->
