---
layout: repertoire
title: Activity Analysis
permalink: /analysis/activity/
---

<article style="padding-left:10px;" class="about">
  <h2 style="padding-top:10px;" class="brown-heading">Activity Plots</h2>
  <table><tr><td>
    <div style="display:inline; width:400px;" id="repertory-select" class="form-group"></div>
  </td><td>
    <div style="display:inline; width:200px;" id="genre-select" class="form-group"></div>
  </td><td>
    <div style="display:inline; width:600px;" id="work-select" class="form-group"></div>
  </td></tr></table>
  <div id="analysis-content"></div>
</article>

{% include_relative styles-local.html %}
{% include_relative scripts-local.html %}
