---
---

<!doctype html>
<html lang="en">	
<head>
	<title>The Josquin Research Project</title>
	{% include usual-head-contents.html %}

</head>


<body>
	<audio id="audio"></audio>
	<div class="page container" id="home-page">
		{% include header-main.html %}
		<section id="content">

			<aside>

				<!-- form action="browse.html" class="quick-browse"-->
				<!form method="get" action="/browse" class="quick-browse">
				<form class="quick-browse">
					<a style="text-decoration:none;" onclick="ClearBrowseFields(); sessionStorage.BROWSEhome='false';" href="/browse"><h2 style="width:316px;" class="blue-bar">quick browse</h2></a>
					<div class="form-body">

						<div id="composers-select" class="form-group">
							<div style="height:24px;"></div>
						</div>
						<div id="genres-select" class="form-group">
							<div style="height:26px;"></div>
						</div>
						<div class="form-group">
							<input id="titlebox" name="t" value="" type="text" class="form-control" placeholder="Enter Title">
						</div>
						<div class="form-group text-center">
							<button style="width:110px;" onclick="return storeBrowseParameters();" type="" 
									class="btn btn-brown">Browse</button>
						</div>

					</div>
				</form>

				<section id="news">
<!--
					<h3 class="grey-title">
						JRP NEWS <small><span style="letter-spacing: 3.5px;"> and updates</span></small>
					</h3>
-->
					<article class="news">
						{% include news.html %}
					</article>
				</section>

			</aside>

			<section id="primary-content">
				<section id="sample-music"></section>
				<section id="recently-added">
					<div style="height:900px;"></div>
				</section>
			</section>
		</section>

	{% include footer-main.html %}
	</div> <!-- page -->
	{% include_relative scripts-local.html %}

</body>
</html>
<!-- vim: set ts=2: -->

</body>
</html>
<!-- vim: set ts=2: -->
