<article class="keyboard-shortcuts">
	<h2 id="keyboard-shortcuts-title" class="brown-heading">Keyboard Shortcuts</h2>
	<p>Various pages on the JRP website have keyboard shortcuts.  The lists below show
	the available shortcuts for each page type.</p>

</article>

<article class="keyboard-shortcuts">
<h3 id="shortcuts-repertoire" class="brown-heading">Repertoire page</h3>

<dl>

<dt><kbd>Shift</kbd>+<kbd>→</kbd></dt>
<dd>View next page of the repertoire list.</dd>

<dt><kbd>Shift</kbd>+<kbd>←</kbd></dt>
<dd>View previous page of the repertoire list.</dd>

<dt><kbd>Ctrl</kbd>+<kbd>−</kbd></dt>
<dd>Decrease the number of lines in the repertoire table.</dd>

<dt><kbd>Ctrl</kbd>+<kbd>=</kbd></dt>
<dd>Increase the number of lines in the repertoire table.</dd>

<dt><kbd>Ctrl</kbd>+<kbd>A</kbd></dt>
<dd>Toggle display of repertoire table between paged and unpaged views.</dd>

<dt><kbd>Ctrl</kbd>+<kbd>J</kbd></dt>
<dd>Toggle display of catalog number/genre in first column of repertoire table.</dd>

<dt><kbd>Ctrl</kbd>+<kbd>N</kbd></dt>
<dd>Show/hide number of works in the repertoire list.  The work count is shown
	underneath the repertoire filters.</dd>

</dl>

</article>


<article class="keyboard-shortcuts">
<h3 id="shortcuts-work" class="brown-heading">Work page</h3>

<dl>

<dt><kbd>Shift</kbd>+<kbd>→</kbd></dt>
<dd>Go to next work page.</dd>

<dt><kbd>Shift</kbd>+<kbd>←</kbd></dt>
<dd>Go to previous work page.</dd>

<dt><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>→</kbd></dt>
<dd>Go to first work in next repertory.</dd>

<dt><kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>←</kbd></dt>
<dd>Go to first work in previous repertory.</dd>

<dt><kbd>Shift</kbd>+<kbd>Home</kbd></dt>
<dd>Go to first work in first repertory.</dd>

<dt><kbd>Shift</kbd>+<kbd>End</kbd></dt>
<dd>Go to last work in last repertory.</dd>

<dt><kbd>Shift</kbd>+<kbd>↑</kbd></dt>
<dd>Go to previous section in a multi-section work.</dd>

<dt><kbd>Shift</kbd>+<kbd>↓</kbd></dt>
<dd>Go to next section in a multi-section work.</dd>

<dt><kbd>1</kbd> &mdash; <kbd>9</kbd> / <kbd>Ctrl</kbd>+<kbd>1</kbd> &mdash; <kbd>9</kbd></dt>
<dd>Display specified section number.  Control-<i>number</i> will work with any focus.</dd>

<dt><kbd>I</kbd> / <kbd>Ctrl</kbd>+<kbd>I</kbd></dt>
<dd>Toggle view of all incipits for multi-section works. I-key will work 
		when not in an input box.  Control-I will work with any focus.</dd>

<dt><kbd>P</kbd> / <kbd>Ctrl</kbd>+<kbd>P</kbd></dt>
<dd>Play audio for currently selected section (or work for single-sectioned work).  P-key will work
		when not in an input box.  Control-P will work with any focus.</dd>

<dt><kbd>R</kbd> / <kbd>Ctrl</kbd>+<kbd>R</kbd></dt>
<dd>Toggle view of all vocal ranges for multi-section works. R-key will work 
		when not in an input box.  Control-R will work with any focus.</dd>

<dt><kbd>D</kbd> / <kbd>Ctrl</kbd>+<kbd>D</kbd></dt>
<dd>Toggle range type view (histograms by note counts or duration weighted). D-key will work 
		when not in an input box.  Control-D will work with any focus.</dd>

</dl>

</article>
