---
---
<!doctype html>
<html lang="en">	           
	<head>
		<title>JRP Performance</title>
		{% include usual-head-contents.html %}
	</head>

	<body>
		<audio id="audio"></audio>
		<div class="page container" id="home-page">
			{% include header-performance.html %}

			<section id="content">
				{% include_relative aside-browse.html %}
	 			<section id="secondary-content" class="browse-content">
					<div style="height:1110px;"></div>
				</section>
			</section>

			{% include footer-generic.html %}
		</div>
		{% include_relative scripts-local.html %}
		{% include census-scripts-local.html %}
		{% include census-templates.html %}
<script>
OnlyText = 1;
</script>
	</body>
</html>
<!-- vim: set ts=2: -->
