---
---
<!doctype html>
<html lang="en">	
	<head id="newhead">
		<title>JRP Piano Roll</title>
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lusitana:400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="style-local.css"/>
	</head>
	<body id="white">
		<div id="home-page" class="page container">
			<section id="content">
			{% include_relative contents.html %}
			</section>
		</div>
		{% include_relative scripts-local.html %}
		<script>
			<!--#include virtual="../scripts/scripts-common.js" -->
		</script>
		<div id="help-container" style="display:none;"></div>
	</body>
</html>
<!-- vim: set ts=2: -->

