<!doctype html>
<html lang="en">
	<head>
		<!-- vim: set ts=3: -->
		{% include _includes/head/main.html %}
	</head>
	<body>
		<audio id="audio"></audio>
		<div class="page container" id="home-page">
			{% include_relative _includes/header/main.html %}
			<section id="content">
				{% include _includes/aside/main.html %}
				<section id="primary-content">
					<section id="sample-music">
					</section>
					<section id="recently-added">
						<div style="height:900px;"></div>
					</section>
				</section>
			</section>
			{% include _includes/footer/main.html %}
		</div>
	</body>
</html>

