
<header>
	<nav class="main-page" id="primary-nav">
		<ul class="perf">
			<li class="active"><a name="Home">Home</a></li>
			<li><a href="/repertoire?home=true">Repertoire</a></li>
			<li><a onclick="sessionStorage.SEARCHLIST='';" href="/search">Search/Analysis</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav> <!-- primary-nav -->
	<div id="banner">
		<a id="IMAGE_logo" name="" class="logo">
		<!-- not used to screenshot image of title: #include virtual="/images/logo.base64" -->
		</a>

		<div class="descr">
		</div> 
	</div>
</header>