
<header>
	<nav class="main-page" id="primary-nav">
		<ul class="perf">
			<li class="active"><a name="Home">Home</a></li>
			<li><a href="/browse?home=true">Repertoire</a></li>
			<li><a onclick="sessionStorage.SEARCHLIST='';" href="/search">Search/Analysis</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav> <!-- primary-nav -->
	<div id="banner">
		<a id="IMAGE_logo" name="" class="logo">
		<!-- not used to screenshot image of title: #include virtual="/images/logo.base64" -->
		</a>

		<div class="descr">
<!--
			<h1>The Josquin Research Project</h1>
			<p>
				<span style="word-spacing:0.0px; letter-spacing:-.5px;">Search, browse, and analyze complete scores</span><br><span style="letter-spacing:0.3px;">of polyphonic music, ca. 1420&ndash;ca. 1520</span>
			</p>
-->
		</div> <!-- descr -->
	</div> <!-- banner -->
</header>
