<!doctype html>
<html lang="en">	           
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1010"/>
	<title>The Josquin Research Project</title>
	<!-- styles -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" type="text/css" href="/css/ie9.css" />
	<![endif]-->

</head>


<body>

	<div class="page container" id="home-page">

		<!--#include virtual="/includes/header.html" -->

		<section id="content">
			<div style="height: 500px"></div> <!-- temporary div -->
		</section>

		<!--#include virtual="/includes/footer.html" -->

	</div> <!-- page -->

	<!-- scripts -->
	<script type="text/javascript" src="/scripts/jquery.js"></script>
	<script type="text/javascript" src="/scripts/select2.js"></script>
	<script type="text/javascript" src="/scripts/jquery.ezmark.min.js"></script>
	<script type="text/javascript" src="/scripts/scripts.js"></script>
	<script type="text/javascript" src="/scripts/placeholders.min.js"></script>	
</body>
</html>
