---
---
<!doctype html>
<html lang="en">

	<head>
		<title>JRP Error Report Form</title>
		{% include usual-head-contents.html %}
	</head>

	<body>
		<div class="page container" id="home-page">
			{% include header-generic.html %}
			{% include_relative contents.html %}
			{% include footer-feedback.html %}
		</div> <!-- page -->
		{% include_relative scripts-local.html %}
		{% include_relative style-local.html %}
		{% include_relative templates.html %}
	</body>

</html>
<!-- vim: set ts=3: -->
t ts=3: -->
