---
---
<!doctype html>
<html lang="en">	           
	<head>
		<title>JRP Browse</title>
		{% include usual-head-contents.html %}
	</head>

	<body>
<style>
div#home-page.page.container {
	width: 1100px !important;
}
</style>
		<audio id="audio"></audio>
		<div class="page container" id="home-page">

			<section id="content">
				{% include_relative aside-browse.html %}
	 			<section id="secondary-content" class="browse-content">
					<div style="height:1110px;"></div>
				</section>
			</section>

		</div>
		{% include_relative scripts-local.html %}
		{% include census-scripts-local.html %}
		{% include census-templates.html %}
	</body>
</html>
<!-- vim: set ts=2: -->
