---
---
<!doctype html>
<html lang="en">

	<head>
		<title>JRP Census</title>
		{% include usual-head-contents.html %}
	</head>

	<body>
		<audio id="audio"></audio>
		<div class="page container" id="home-page">
			{% include header-generic.html %}
			<section id="content">
				{% include_relative contents.html %}
			</section> <!-- content -->
			{% include footer-generic.html %}
		</div> <!-- page -->
		<script src="/scripts/scripts-common.js"></script>
		{% include_relative scripts-local.html %}
		{% include_relative templates.html %}
		{% include_relative scripts-onload.html %}
	</body>

</html>
<!-- vim: set ts=2: -->
: set ts=2: -->
