<!doctype html>
<html lang="en">
	<head>
		<!-- vim: set ts=3: -->
		{% include head/homepage-head.html %}
	</head>
	<body>
		<audio id="audio"></audio>
		<div class="page container" id="home-page">
			{% include header/homepage-header.html %}
			<section id="content">
				{% include homepage/aside/main.html %}
				<section id="primary-content">
					<section id="sample-music">
					</section>
					<section id="recently-added">
						<div style="height:900px;"></div>
					</section>
				</section>
			</section>
			{% include footer/homepage-footer.html %}
		</div>
		{{ content }}
	</body>
</html>



